@page
@model LoginModel

@{
    Layout = "_Layout";
}

<div class="d-flex justify-content-center p-5">
    <div class="row rounded shadow-lg bg-light">
        <div class="col-sm-7 px-5">
            <h1 class="text-center my-4">Iniciar Sesion.</h1>
            <hr />
            <section class="mt-5">
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" /> Recordarme
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-center mt-5">
                        <button type="submit" class="btn btn-primary w-75 mx-auto btn-block btn-lg mt-1">Iniciar Sesion</button>
                    </div>
                    <div class="form-group mx-auto d-flex justify-content-center">
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">No tienes cuenta? Registrate</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col p-0 m-0">
            <img src="~/img/login.jpg" alt="..." class="img-fluid w-100 rounded-right" />
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
