apiVacantes\apiVacantes\appsettings.json

apiVacantes/.vs/apiVacantes/DesignTimeBuild/.dtbcache.v2

apiVacantes/.vs/apiVacantes/v16/.suo

apiVacantes/apiVacantes/obj/Debug/netcoreapp3.1/apiVacantes.csproj.AssemblyReference.cache
