@page "/crear-vacante"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using System.IO
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment env
@attribute [Authorize(Roles = "admin, postulante")]


<h3>Create</h3>

<FormVacante TextBtn="Crear Vacante" OnValidSubmit="@CrearVacante" Trabajos="@trabajos"></FormVacante>

@code {

    Trabajos trabajos = new Trabajos();

    async Task CrearVacante()
    {
        await Http.PostAsJsonAsync("api/Vacantes", trabajos);
        NavigationManager.NavigateTo("Vacantes");
    }
}
