@page "/dialogcard/"
@inject Radzen.DialogService dialogService

<h1>Dialog with parameters</h1>

<p>This page demonstrates <b>Dialog</b> component with parameters.</p>
<h3>OrderID: </h3>
<RadzenCard Style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-6">
            <div>Company:</div>
            <b>prueba 2 </b>
            <div style="margin-top:20px">Employee:</div>
            <b>prueba 3</b>
            <br />
            <RadzenImage Path="prueba 3" Style="width:100px;" />
        </div>
        <div class="col-md-6">
            <div>Freight:</div>
            <b>prueba 4</b>
            <div style="margin-top:20px">Ship country:</div>
            <b>prueba 5</b>
            <div style="margin-top:20px">Ship city:</div>
            <b>prueba 6</b>
            <div style="margin-top:20px">Ship name:</div>
            <b>prueba 7</b>
        </div>
    </div>
</RadzenCard>
<div class="row">
    <div class="col-md-12">
        <RadzenButton Click="@((args) => dialogService.Close(true))" Text="OK" Style="margin-bottom: 10px; width: 150px" />
        <RadzenButton Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="margin-bottom: 10px; width: 150px" />
    </div>
</div>

@code {
    [Parameter] public Trabajos trabajo { get; set; }

}